.heading{
	width: 50%;
	margin: 30px auto;
	text-align: center;
	color: 	#6B8E23;
	background: #FFF8DC;
	border: 2px solid #6B8E23;
	border-radius: 20px;
}
.headinga{
	width: 50%;
	margin: 30px auto;
	text-align: center;
	color: 	#6B8E23;

}
a {
    text-decoration: none;
    color: orangered;
}
form {
	width: 50%; 
	margin: 30px auto; 
	border-radius: 5px; 
	padding: 10px;
	background: #FFF8DC;
	border: 1px solid #6B8E23;
}
form p {
	color: red;
	margin: 0px;
}
.task_input {
	width: 75%;
	margin-bottom: 12px;
	height: 15px; 
	padding: 10px;
    margin-left: 30px;
	border: 2px solid #6B8E23;
}
.task_input2 {
	width: 75%;
	margin-bottom: 12px;
	height: 15px; 
	padding: 10px;
	border: 2px solid #6B8E23;
}
.add_btn {
	height: 39px;
	background: #FFF8DC;
	color: 	#6B8E23;
	border: 2px solid #6B8E23;
	border-radius: 5px; 
	margin-left: 75%;
	padding: 5px 20px;
}

table {
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
}

tr {
	border-bottom: 1px solid #cbcbcb;
}

th {
	font-size: 19px;
	color: #6B8E23;
}

th, td{
	border: 1px solid;
    height: 30px;
    padding: 2px;
}

tr:hover {
	background: #E9E9E9;
}

.task {
	text-align: left;
}

.delete{
	text-align: center;
}
.delete a{
	color:#0ffbc4;
    background: #6caf96;
    padding: 4px 23px;
    margin: 3px 3px;
    border-radius: 3px;
	text-decoration: none;
	display: flex;
}
.pagination li{
	list-style-type: none;
    display: inline;
}